* {
  margin: 0;
  padding:0;
  font-family: sans-serif;
}

.nav {
  color:white;
  width: 100vw;
  min-height:65px;
  background-color: rgb(51, 47, 86);
  box-shadow: 0px -3px 8px 8px #222;
  z-index:999;
  position:sticky;
  top:0;
}

.logo {
  height:65px;
}

.logo:hover {
  cursor: pointer;
}

.qm {
  margin-left: 10px;
  height:20px;
  width:20px;
}

.nav ul li,.myAcc{
  font-weight: bold;
  font-size:14px;
  float: right;
  list-style: none;
  height:64px;
  padding:20px 10px;
}

.nav ul li a, .myAcc {
  cursor: pointer;
}

.myAcc {
  border-left: 1px solid navy;
  padding-left: 30px;
  color:rgb(142,127,169);
}
.myAcc:hover {
  background-color: rgb(32, 29, 65);
}

.downCarrot {
  height:15px;
  width:15px;
  margin-left: 10px;
}

.nav li:nth-child(1) a:hover {
  text-decoration: none;
}

.nav li:nth-child(2) a:hover,
.nav li:nth-child(3) a:hover {
  text-decoration: underline;
}

.input-box {
  margin:5px auto;
  height:45px;
}

.input-box input {
  width:450px;
  height:35px;
}

.login {
  background-color: #eee;
  position: absolute;
  right:8.25%;
  top:60px;
  height:50px;
  border-bottom-left-radius:3px; 
  border-bottom-right-radius:3px;
  padding:10px 0;
  z-index: 999;
}

.login a {
  font-size:80%;
  cursor: pointer;
  padding-left: 15px;
}

.loginWrapper:hover {
  background-color: rgb(220, 241, 220);
  text-decoration: underline;
}

.info {
  background-color: rgb(62, 73, 111);
  width:100wh;
  min-height: 150px;
  margin:0;
}

.top {
  height:100px;
  margin: 2px;
}

.directory {
  margin-top:15px;
  height:25px;
}

.companyLabel {
  font-size:140%;
  color:white;
  font-weight: 100;
}

.t1 a {
  font-size:70%;
  cursor: pointer;
}

.t1 li {
  float: left;
  color:white;
  list-style: none;
}

.t1 li span {
  font-size: 80%;
}

.t2 p {
  color:white;
  font-size:70%;
  width:20px;
  float:right;
  margin:40px 100px 0 30px;
  line-height: 15px;
}

.t2 p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bottom {
  height:50px;
}

.rate {
  border-right: 2px solid white;
  display: inline;
}

.rateChar {
  color:white;
  font-size:70%;
  margin-right: 10px;
}

.rateNumber {
  font-size: 70%;
  color: white;
  margin-left:20px;
}

.star-wrapper {
  display: inline-block;
  padding-top:2px;
}

.star-rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.back-stars {
  display: inline-flex;
  color: lightgrey;
  position: relative;
}

.front-stars {
  display: inline-flex;
  color: rgb(248, 207, 72);
  overflow: hidden;
  position: absolute;
  top: 0;
}

.compare-button {
  background:rgb(66,97,194);
  color:white;
  font-size:70%;
  border-radius: 2px;
  margin-left:20px;
  padding:5px 8px;
  length:100px;
}

.compare-button:hover {
  background-color: rgb(45,74,163)
}

.checkbox {
  margin:0 10px;
  padding-top:20px;
}

.user-options {
  box-sizing: border-box;
  color:white;
  font-size: 68%;
  display: inline-block;
  margin-top:10px;
  width:100px;
  height:40px;
  padding:0 5px;
  cursor: pointer;
}

.thick-bottom-border {
  border-bottom: 8px solid white;
}

.page-container {
  min-height:1500px;
  background-color: rgb(240,240,240);
}


/*  Filter card style start from here* */

.filter {
  margin-top:15px;
}

.filter-card {
  margin: 80px 25px 15px 25px;
  box-sizing: border-box;
  padding-left: 20px;
  background-color: white;
  border:1px solid lightgrey;
  min-height: 100vh; 
}

.filter-name {
  font-size: 70%;
  margin:15px 0 10px 0;
}

.filter-description {
  font-size:70%;
  line-height:30px;
}

.filter-description a {
  cursor: pointer;
}

.show-button {
  font-size: 70%;
  color:navy;
}

.show-button:hover {
  cursor: pointer;
}

.compare-card {
  margin: 80px 25px 10px 25px;
  box-sizing: border-box;
  background-color: rgb(55,59,99);
  min-height: 350px; 
  color:white;
  padding-bottom: 20px;
  border:1px solid lightgray;
}

.compare-item a{
  font-size:70%;
}

.compare-item {
  padding:10px 20px;
}

.compare-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 0px 0px grey, 0px -1px 0px 0px grey;
  /* background-image: url(https://www.gartner.com/reviews/img/icons/list-arrowhead-normal.png;wabe6b7b6f9e013e31); */
}

.arrow-left {
  font-size:120%;
  color:grey;
  margin-left: 120px;
  font-weight: bold;
}

.sort-row {
  padding-top:30px;
  font-size:70%;
  height:80px;
}

.email-button {
  color:navy;
}
.email-button:hover {
  cursor: pointer;
}
.sort-button {
  color:black;
  margin-left: 80px;
}

.filter-bar {
  font-size:70%;
  display:inline-block;
  padding: 5px 15px;
  margin:3px 3px;
  background-color:rgb(73,76,129);
  border-radius: 25px;
  color:white;
  height:35px;
}

.filter-bar:last-child {
  margin-bottom:20px;
}

.result-page {
  padding: 0 25px 0 0;
}

.result-card {
  background-color: white;
  min-height:200px;
  border: 1px solid lightgrey;
  margin-bottom: 30px;
  padding-top:30px;
}
.product-name {
  font-size:90%;
  font-weight: bolder;
}

.small-font {
  font-size: 70%;
}

.medium-font {
  font-size: 80%;
}

.grey-font {
  color:grey;
}

.review-src-btn {
  padding:10px;
  border:1px solid lightgrey;
  border-radius: 1px;
  width:130px;
  text-align: center;
  margin-bottom: 30px;
}
.review-src-btn:hover {
  cursor: pointer;
}

.article-box {
  min-height:150px;
  background: -webkit-linear-gradient(#000,#111,#ddd, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.navy-font {
  color: rgb(63, 89, 170);
  font-weight:bold;
}
.navy-font:hover {
  text-decoration: underline;
  cursor: pointer;
}




